[Oo]bj/
[Bb]in/
Binaries
*.sln.cache
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
*.vsmdi
_ReSharper*/
*.resharper
.DS_Store
._.DS_Store
*.results.xml
test-results.xml
*.exe
*.gba
TestResult.xml
output-PS.xml
testcoverage